<div class="task">
  <ng-container *ngIf="isEdit then edit else view"></ng-container>

  <div class="btn btn_edit" (click)="toggleEdit()">E</div>
  <div class="btn btn_delete" (click)="deleteTask()">X</div>
</div>

<ng-template #view>
  <input type="checkbox" [(ngModel)]="task.isComplete">

  <div class="info">
    <span class="info__name">{{ task.name }}</span>
    <span class="info__description">{{ task.description }}</span>
  </div>

  <span class="date">{{ task.datetime | appDateTimePipe }}</span>
</ng-template>

<ng-template #edit>
  <h2>Edit mode</h2>
</ng-template>
